<!doctype html>
<title>GridPi</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
	<h1>GridPi</h1>
	<div class=metanav>
		{% if not session.logged_in %}
		  <a href="{{ url_for('login') }}">log in</a>
		{% else %}
		  <a href="{{ url_for('show_control') }}">control</a>
		  <a href="{{ url_for('show_entries') }}">status</a>
		  <a href="{{ url_for('logout') }}">log out</a>

		{% endif %}
	</div>
	{% for message in get_flashed_messages() %}
	  <div class=flash>{{ message }}</div>
	{% endfor %}
	<script type=text/javascript src="{{
	url_for('static', filename='jquery-3.2.1.js') }}">
    </script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
	{% block body %}{% endblock %}
</div>

